serialisation/Serialisation.sdf
serialisation/Serialisation.sln
serialisation/Serialisation.v11.suo
serialisation/Serialisation.vcxproj.filters
serialisation/Serialisation.vcxproj.user
bin/*
build/
*.opensdf
*.vcxproj
*.filters
*.user
test/lib/
